
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

$navbar-bg: #853d25;
$font-family-base: 'Montserrat', sans-serif;
$success: #ed4e0d;

$retro: 'Handjet', cursive;

/*-- scss:rules --*/
#title-block-header.quarto-title-block.default .quarto-title .title {
  font-family: $retro;
  font-size: $font-size-base * 3.8;
  line-height: 0.8;
}

p.subtitle.lead {
  font-family: $retro;
  font-size: $font-size-base * 1.8;
  line-height: 0.9; 
  /*-- margin-top: -18px; --*/
  margin-bottom: 0px;
  /*-- padding-top: 0px !important; --*/
}

.about-image {
  margin-top: 1.5em;
}

nav.navbar.navbar-expand-lg {
  padding-top: 8px;
  padding-bottom: 8px;
}
